<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="/public/styles/header.css" rel="stylesheet" />
  <script src="/public/script/index.js"></script>
  <script src="https://kit.fontawesome.com/bbf51303b2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="menu-bar">
      <div class="title"><i class="fa-solid fa-qrcode"></i>
        IoT
      </div>
      <div class="menu-list">
        <div class="list" onclick="GoToHomePage()"><i class="fa-solid fa-house"></i>
          <p>Home</p>
        </div>
        <div class="list" onclick="GoToActivityPage()"><i class="fa-solid fa-plus"></i>
          <p>Create Activity</p>
        </div>
        <div class="list"><i class="fa-solid fa-gear"></i>
          <p>Setting</p>
        </div>
      </div>
    </div>