<%- include("header") -%>

  <div class="content">
    <div class="content-header">
      <div class="email"><b>Hello, <%- username %>!</b></div>
      <i class="fa-solid fa-right-from-bracket" onclick="logout()"></i>
      <div class="main-content">
        <h2>Your activities:</h2>
        <div class="activities accordion accordion-flush">
          <% activities.forEach(function(activity) { %>
            <%- include("act", {activity: activity}); %>
              <% }); %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>

  </html>

  <style>
    .content {
      grid-area: content;
      background-color: white;
      border-radius: 20px;
    }

    .content-header {
      margin: 20px 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      padding: 20px;
    }

    .content-header>i {
      color: #57419d;
      font-size: 30px;
      margin: 0 15px;
    }

    .content-header>i:hover {
      cursor: pointer;
      color: #453772;
    }

    .email {
      color: black;
      font-size: 20px;
      margin: 0 15px;
    }

    .main-content {
      margin: 0 50px;
      width: 100%;
    }

    .activities {
      margin-top: 30px;
    }

    .accordion-flush .accordion-item .accordion-button {
      background: white;
      border-bottom: solid #ccc 1px;
    }

    .accordion-button:focus {
      box-shadow: none;
      border-bottom: solid #ccc 1px;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }

    .logoWrap>img {
      width: 200px;
    }

    .btn-exit {
      background: red;
      border: none;
    }

    .btn-exit:hover {
      background: rgb(128, 0, 0);
    }

    @media screen and (max-width: 720px) {
      .content {
        border-radius: 0;
      }
    }
  </style>