<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="/public/styles/main.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/bbf51303b2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="menu-bar">
      <div class="title"><i class="fa-solid fa-qrcode"></i>
        IoT
      </div>
      <div class="menu-list">
        <div class="list"><i class="fa-solid fa-house"></i>
          <p>Home</p>
        </div>
        <div class="list"><i class="fa-solid fa-plus"></i>
          <p>Create Activity</p>
        </div>
        <div class="list"><i class="fa-solid fa-gear"></i>
          <p>Setting</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-header">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-solid fa-user"></i>
        <div class="email">User@gmail.com</div>
        <div class="main-content">
          <h3>Hello, <%- username %>!</h3>

          <h3>Your activities:</h3>
          <ul>
            <% activities.forEach(function(activity) { %>
              <li>
                <%= activity.name %>
              </li>
              <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    font-family: "Noto Sans", sans-serif;
  }

  body {
    margin: 0;
    height: 100%;
    background-color: #57419d;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 23% 75% 2%;
    grid-template-areas:
      ". . ."
      "menu content ."
      ". . .";
  }

  .menu-bar {
    grid-area: menu;
    background-color: #57419d;
  }

  .title {
    margin-left: 20%;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 50px;
  }

  .title>i {
    color: #ffcb83;
    margin-right: 20px;
  }

  .title:hover {
    cursor: pointer;
    color: #ffcb83;
  }

  .menu-list {
    margin-top: 70px;
  }

  .list {
    color: white;
    font-size: 25px;
    padding: 15px 0 15px 20%;
  }

  .list>p {
    display: inline;
  }

  .list:hover {
    color: #ffcb83;
    cursor: pointer;
    border-left: solid 3px #ffcb83;
  }

  .list>i {
    color: #ffcb83;
    margin-right: 20px;
  }

  .content {
    grid-area: content;
    background-color: white;
    border-radius: 20px;
  }

  .content-header {
    margin: 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 20px;
  }

  .content-header>i {
    color: #57419d;
    font-size: 30px;
    margin: 0 15px;
  }

  .email {
    color: black;
    font-size: 20px;
    margin: 0 15px;
  }

  .main-content {
    width: 100%;
  }

  @media screen and (max-width: 720px) {
    .container {
      grid-template-rows: 10% 90%;
      grid-template-columns: 100%;
      grid-template-areas:
        "menu"
        "content";
    }

    .menu-bar {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .title {
      display: flex;
      margin: 0;
      align-items: center;
      margin-left: 50px;
    }

    .menu-list {
      margin: 0;
      margin-right: 30px;
      display: flex;
    }

    .list {
      padding: 10px 20px;
    }

    .list>i {
      margin-right: 0;
    }

    .list>p {
      display: none;
    }

    .list:hover {
      background-color: white;
      border-radius: 5px 5px 0px 0px;
      border-left: none;
    }

    .content {
      border-radius: 15px;
    }
  }
</style>