<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="/public/styles/main.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/bbf51303b2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="left-bar">
      <div class="title"><i class="fa-solid fa-qrcode"></i>IoT</div>
      <div class="left-list">
        <div class="list"><i class="fa-solid fa-house"></i>Home</div>
        <div class="list"><i class="fa-solid fa-plus"></i>Create Activity</div>
        <div class="list"><i class="fa-solid fa-gear"></i>Setting</div>
      </div>
    </div>
    <div class="right">
      <div class="right-header">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-solid fa-user"></i>
        <div class="email">User@gmail.com</div>
      </div>
    </div>
  </div>
</body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  * {
    font-family: "Noto Sans", sans-serif;
  }

  body {
    margin: 0;
    height: 100%;
    background-color: #57419d;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 23% 75% 2%;
    grid-template-areas:
      ". . ."
      "left right ."
      ". . .";
  }

  .left-bar {
    grid-area: left;
    background-color: #57419d;
  }

  .title {
    margin-left: 20%;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 50px;
  }

  .title>i {
    color: #ffcb83;
    margin-right: 20px;
  }

  .title:hover {
    cursor: pointer;
    color: #ffcb83;
  }

  .left-list {
    margin-top: 70px;
  }

  .list {
    color: white;
    font-size: 25px;
    padding: 15px 0 15px 20%;
  }

  .list:hover {
    color: #ffcb83;
    cursor: pointer;
    border-left: solid 3px;
  }

  .left-list>.list>i {
    color: #ffcb83;
    margin-right: 20px;
  }

  .right {
    grid-area: right;
    background-color: white;
    border-radius: 20px;
  }

  .right-header {
    margin: 20px 20px 0;
    display: flex;
    justify-content: end;
    padding: 20px;
  }

  .right-header > i {
    color: #57419d;
    font-size: 30px;
    margin: 0 15px;
  }
  
  .email {
    color: black;
    font-size: 20px;
    margin: 0 15px;
  }
</style>