<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <script src="https://kit.fontawesome.com/bbf51303b2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="left-area">
      <i class="fa-solid fa-qrcode"></i>
      <div class="title">IoT</div>
    </div>
    <div class="right-area">
      <div class="main">
        <h1>Register</h1>
        <form id="registerForm">
          <div>
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required />
          </div>
          <div>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  document
    .getElementById("registerForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      const name = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      try {
        const response = await fetch("/api/user", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name,
            password,
          }),
        });

        if (response.ok) {
          window.location.href = response.url;
        } else {
          const errorMessage = await response.text();
          alert(`Register failed: ${errorMessage}`);
        }
      } catch (error) {
        console.error("Register error:", error);
        alert("An error occurred while trying to register.");
      }
    });
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    font-family: "Noto Sans", sans-serif;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title login";
    height: 100%;
  }

  .left-area {
    grid-area: "title";
    background: #57419d;
  }

  .fa-qrcode {
    color: #ffcb83;
    font-size: 50px;
    margin: 50px;
  }

  .title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin: 100px 0 0 100px;
  }

  .right-area {
    grid-area: "login";
  }


  .main {
    margin: 100px 0 0 100px;
  }

  input {
    margin: 10px 0;
  }

  button {
    margin: 10px 0;
    background: #57419d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
  }

  button:hover {
    cursor: pointer;
    background: #453772;
  }

  @media screen and (max-width: 720px) {
    .container {
      grid-template-rows: 1fr 9fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "login";
    }

    .left-area {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .fa-qrcode {
      font-size: 50px;
      margin: 10px;
    }

    .title {
      font-size: 50px;
      margin: 10px;
    }

    .right-area {
      max-width: 720px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .main {
      margin: 50px;
    }
  }
</style>